.formData{
  background-color: rgb(25, 74, 74);
  width: 30%;
  height: 30vh;
  padding: 20px;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.inputData{
  padding: 10px;
  border-radius: 10px;
}